<!DOCTYPE html><html lang="en"><head>
<title>Parent - Home</title>
	<meta name="title" content="Home">
	<meta name="description" content="Parent">
	<meta name="keywords" content="LookBooks, LookBooks Pro, LKBKS, lkbkspro.parent, Parent">
	<meta name="author" content="LookBooks Pro">

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="googlebot" content="index,follow">
	<meta name="robots" content="index,follow">
	<meta http-equiv="Content-Language" content="en">
			<meta name="google-site-verification" content="qdGJ6KFS_GaQK_AQ1JrNClfAdtanorHMTgbLKtmooQI">
		

	<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="canonical" href="https://www.parent.global/">
<meta property="og:url" content="https://www.parent.global/">	<link rel="icon" type="image/x-icon" href="favicon.ico">
			<link rel="shortcut icon" type="image/png" href="images/favicon.png">
		
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="images/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/apple-touch-icon-152x152.png">

	<link rel="icon" type="image/png" href="images/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="images/favicon-128.png" sizes="128x128">

	<meta name="application-name" content="Home">
			<meta name="msapplication-TileColor" content="#FFFFFF">
			<meta name="msapplication-TileImage" content="/theme/parent/imgs/mstile-144x144.png">
	<meta name="msapplication-square70x70logo" content="/theme/parent/imgs/mstile-70x70.png">
	<meta name="msapplication-square150x150logo" content="/theme/parent/imgs/mstile-150x150.png">
	<meta name="msapplication-wide310x150logo" content="/theme/parent/imgs/mstile-310x150.png">
	<meta name="msapplication-square310x310logo" content="/theme/parent/imgs/mstile-310x310.png">
	<meta property="og:locale" content="en_US"><meta property="og:type" content="website"><meta property="og:url" content="https://www.parent.global/"><meta property="og:title" content="Home"><meta property="og:image" content="images/favicon-196x196.png"><meta property="twitter:card" content="summary"><meta property="twitter:title" content="Home"><meta property="twitter:description" content="Parent"><meta property="twitter:image" content="https://www.parent.global/theme/parent/imgs/favicon-196x196.png"><meta property="twitter:url" content="https://www.parent.global/"><link rel="stylesheet" type="text/css" href="css/a9c0dbeccf6a50239664ab886601edd0.css">

<script type="text/javascript">var __st_loadLate=true;</script>
<script type="text/javascript" src="js/9e2c5aa54627cf2df603b92d527d1b77.js"></script>

<script src="js/api.js" async defer></script>
<script type="text/javascript">
var CaptchaCallback = function() {
    $('.g-recaptcha').each(function(index, el) {
                    var captcha = grecaptcha.render(el, {
                'sitekey' : '6LdBniIUAAAAAKS0_Hk_oE4PSg_O-Ps0oik8maG1',
                'size' : 'invisible',
                'callback' : $(el).data('callback')
            });
                $(this).parents('form').first().attr('data-recaptcha', captcha);
    });
};

$(document).bind('resetCaptcha', function(e) {
    var index = $(e.target).attr('data-recaptcha');
    if (index >= 0) {
        grecaptcha.reset(index);
    }
});


$(document).on('ready', function() {
	$('.privacy-confirm').bind('click', function() {
		if ($(this).prop('checked')) {
			$(this).parents('form').find('.g-recaptcha').prop('disabled', false);
		} else {
			$(this).parents('form').find('.g-recaptcha').prop('disabled', true);
		}
	});
});

$(window).on('load', function() {
	$('.privacy-confirm').each(function() {
		$(this).parents('form').find('.g-recaptcha').prop('disabled', true);
	});
});
</script>


<style>
.grecaptcha-badge {display: none;}
</style>


<script type="text/javascript">
	var lightbox_count = 0;
	if ((mcConf.customShare == false || mcConf.customShare == undefined) && typeof stLight != "undefined"){
		stLight.options({publisher:'a32451a6-5a53-456a-8b79-0b92f12691b8'});
	}
</script>
<script type="text/javascript">
mcConf.lb_label = 'lightbox';
mcConf.lb_add_label = '';
mcConf.lb_remove_label = '';
mcConf.menu_show_artist_only = 'false';
mcConf.menuType = 'default';
mcConf.masonryOn = 'false';
mcConf.masonryType = '';
mcConf.highlight_index = 0;
mcConf.assetStorageURL = 'https://lkbkspro.s3.amazonaws.com/parent/';
mcConf.assetStreamingURL = 'https://lkbkspro.s3.amazonaws.com/parent/';
mcConf.is_lightbox = false;
mcConf.is_content = false;
mcConf.is_news = false;
mcConf.news_is_category = 'false';
mcConf.homeSlideshowType = 'fill';
mcConf.slideshowFx = 'fade';
mcConf.slideshowDelay = 3000;
mcConf.slideshowSpeed = 1000;
mcConf.slideshowTimeout = 100;
mcConf.clickImageToAdvance = false;
mcConf.homeSlideshowTitleChange = false;
mcConf.homeSlideshowDescriptionChange = false;
mcConf.menu_artist_direct = false;
mcConf.mobile_optimized = true;
</script></head>
<body class="home">
<div id="cover"></div>
<div id="wrapper">


<header class="header general">
	
	<nav class="nav desktop">
		<h1 class="logo"><a href="/" class="show-title" data-title="News"><em>PARENT</em> represents</a></h1>
		<a href="/artists" class="show-title" data-title="Artists"> <em>photographers, film directors, choreographers and creative directors</em> </a>
		<a href="/contact" class="show-title" data-title="Contact">(<em>info</em>)</a>
	</nav>
	
	<nav class="nav mobile">
		<h1 class="logo"><a href="/" class="show-title" data-title="News"><em>PARENT</em></a></h1>, 
		<a href="/artists" class="show-title" data-title="Artists"> <em>ARTISTS</em></a>, 
		<a href="/contact" class="show-title" data-title="Contact"> <em>CONTACT</em></a>
	</nav>
	
</header>

<section id="hover-title" class="section intro nav hidden">
	<div class="content-outer">
		<div class="content">
			<h1 class="fittext"></h1>
		</div>
	</div>
</section>

<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": "Parent",
	"url": "https://www.parent.global/",
	"logo": "https://lkbkspro.s3.amazonaws.com/parent/a/newsletter_logo.png"
}
</script>
<section class="section intro home">
	<div class="content-outer">
		<div class="content">
			<h1 class="fittext">PARENT</h1>
		</div>
	</div>
</section>

<section id="static" class="section full page home hidden">
	<div class="content-outer h_slideshow slideshow_wrapper">
	    <ul class="slides news slideshow">
		    	<li class="slide portrait">
		<div class="slide-content">
			<div class="slide-image modal" href="/news/thurstan-redding-shoots-m-le-monde-ft-cillian-murphy"><img src="images/gm_64b6c13d-b450-440a-ae07-4564ac110008.jpg"></div>
			<div class="slide-text"><p><a href="https://www.parent.global/artists/photography/thurstan-redding">THURSTAN REDDING</a> shoots M LE MONDE ft. CILLIAN MURPHY</p></div>
		</div>
	</li>
		<li class="slide portrait">
		<div class="slide-content">
			<div class="slide-image modal" href="/news/camille-summers-valli-shoots-public-editions"><img src="images/gm_6426e9b9-0184-420e-a0e3-1a9dac110004.jpg"></div>
			<div class="slide-text"><p><a href="https://www.parent.global/artists/film-photography/camille-summers-valli">CAMILLE SUMMERS-VALLI</a> shoots PUBLIC EDITIONS</p></div>
		</div>
	</li>
		<li class="slide landscape">
		<div class="slide-content">
			<div class="slide-image modal" href="/news/emily-okuda-overhoff-directs-chanel-connects-2"><video class autoplay muted loop playsinline controlslist="nodownload disablePictureInPicture" poster="https://lkbkspro.s3.amazonaws.com/parent/lg_64b0393f-b3a8-4c82-9ad2-67b5ac110008.jpg" id="clip_64b0393f-b3a8-4c82-9ad2-67b5ac110008" filename alt=" - CHANEL CONNECTS" imgw="1920" imgh="1080" data-ratio="1.7777777777778" height="1080" width="1920" data-focus-x="-1" data-focus-y="-1"><source type="video/mp4" src="https://lkbkspro.s3.amazonaws.com/parent/lgclip_64b0393f-b3a8-4c82-9ad2-67b5ac110008.mp4"></video></div>
			<div class="slide-text"><p><a href="https://www.parent.global/artists/film/emily-okuda-overhoff">EMILY OKUDA-OVERHOFF</a> directs CHANEL CONNECTS</p></div>
		</div>
	</li>
		<li class="slide landscape">
		<div class="slide-content">
			<div class="slide-image modal" href="/news/eric-christison-choreographs-balenciaga"><video class autoplay muted loop playsinline controlslist="nodownload disablePictureInPicture" poster="https://lkbkspro.s3.amazonaws.com/parent/lg_649ae07b-fb9c-4cc3-b918-6783ac110007.jpg" id="clip_649ae07b-fb9c-4cc3-b918-6783ac110007" filename alt=" - BALENCIAGA" imgw="1920" imgh="1080" data-ratio="1.7777777777778" height="1080" width="1920" data-focus-x="-1" data-focus-y="-1"><source type="video/mp4" src="https://lkbkspro.s3.amazonaws.com/parent/lgclip_649ae07b-fb9c-4cc3-b918-6783ac110007.mp4"></video></div>
			<div class="slide-text"><p><a href="https://www.parent.global/artists/choreography/eric-christison">ERIC CHRISTISON </a>choreographs BALENCIAGA</p></div>
		</div>
	</li>
		<li class="slide landscape">
		<div class="slide-content">
			<div class="slide-image modal" href="/news/julien-pujol-directs-filippa-k-ss24"><video class autoplay muted loop playsinline controlslist="nodownload disablePictureInPicture" poster="https://lkbkspro.s3.amazonaws.com/parent/lg_649d63b3-aea0-4606-a32a-0f7eac110004.jpg" id="clip_649d63b3-aea0-4606-a32a-0f7eac110004" filename alt=" - FILIPPA K SS24" imgw="1920" imgh="1080" data-ratio="1.7777777777778" height="1080" width="1920" data-focus-x="-1" data-focus-y="-1"><source type="video/mp4" src="https://lkbkspro.s3.amazonaws.com/parent/lgclip_649d63b3-aea0-4606-a32a-0f7eac110004.mp4"></video></div>
			<div class="slide-text"><p><a href="https://www.parent.global/artists/film/julien-pujol">JULIEN PUJOL</a> directs FILIPPA K SS24</p></div>
		</div>
	</li>
		<li class="slide portrait">
		<div class="slide-content">
			<div class="slide-image modal" href="/news/thurstan-redding-shoots-gucci-beauty-1"><img src="images/gm_643ec67d-c0f0-4fab-b9de-068eac110007.jpg"></div>
			<div class="slide-text"><p><a href="https://www.parent.global/artists/photography/thurstan-redding">THURSTAN REDDING</a> shoots GUCCI BEAUTY</p></div>
		</div>
	</li>
		<li class="slide landscape">
		<div class="slide-content">
			<div class="slide-image modal" href="/news/emily-okuda-overhoff-directs-chanel-1"><video class autoplay muted loop playsinline controlslist="nodownload disablePictureInPicture" poster="https://lkbkspro.s3.amazonaws.com/parent/lg_63c573df-9a14-4a85-ba91-11ecac110006.jpg" id="clip_63c573df-9a14-4a85-ba91-11ecac110006" filename alt=" - CHANEL TESTIMONIALS" imgw="1920" imgh="1080" data-ratio="1.7777777777778" height="1080" width="1920" data-focus-x="-1" data-focus-y="-1"><source type="video/mp4" src="https://lkbkspro.s3.amazonaws.com/parent/lgclip_63c573df-9a14-4a85-ba91-11ecac110006.mp4"></video></div>
			<div class="slide-text"><p><a href="https://www.parent.global/artists/film/emily-okuda-overhoff">EMILY OKUDA-OVERHOFF</a> directs CHANEL </p></div>
		</div>
	</li>
			</ul>
	</div>
	<div class="scrolldown"><a href="#allnews" rel="scrolldown">All News ↓</a></div>
</section>


<section id="allnews" class="section page news hidden">
	<div class="content-outer list">
		<div class="masonry" id="masonry">
				<div class="m_item type-video landscape">
		<div class="m_item_image">
			<a href="/news/eric-christison-choreographs-consults-for-paolina-russo-ss24-show" class="modal">
				<video class autoplay muted loop playsinline controlslist="nodownload disablePictureInPicture" poster="https://lkbkspro.s3.amazonaws.com/parent/lg_64da577d-4530-4f67-911e-10beac11000a.jpg" id="clip_64da577d-4530-4f67-911e-10beac11000a" filename alt=" - PAOLINA RUSSO SS24 SHOW" imgw="1280" imgh="720" data-ratio="1.7777777777778" height="720" width="1280" data-focus-x="-1" data-focus-y="-1"><source type="video/mp4" src="https://lkbkspro.s3.amazonaws.com/parent/lgclip_64da577d-4530-4f67-911e-10beac11000a.mp4"></video>			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/choreography/eric-christison">ERIC CHRISTISON</a> choreographs & consults for PAOLINA RUSSO SS24 SHOW</p>			</div>
		</div>
	</div>
		<div class="m_item portrait">
		<div class="m_item_image">
			<a href="/news/indigo-lewin-shoots-la-biennale-danza" class="modal">
				<img src="images/lg_64be9487-cd38-4da0-85b2-0905ac110009.jpg">			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/photography/indigo-lewin">INDIGO LEWIN</a> shoots LA BIENNALE DANZA</p>			</div>
		</div>
	</div>
		<div class="m_item portrait">
		<div class="m_item_image">
			<a href="/news/thurstan-redding-shoots-m-le-monde-ft-cillian-murphy" class="modal">
				<img src="images/lg_64b6c13d-b450-440a-ae07-4564ac110008.jpg">			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/photography/thurstan-redding">THURSTAN REDDING</a> shoots M LE MONDE ft. CILLIAN MURPHY</p>			</div>
		</div>
	</div>
		<div class="m_item portrait">
		<div class="m_item_image">
			<a href="/news/julien-pujol-directs-the-island-premiering-at-locarno76" class="modal">
				<img src="images/lg_64c3b186-2950-4c59-8323-45f9ac110004.jpg">			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/film/julien-pujol">JULIEN PUJOL</a> directs THE ISLAND premiering at LOCARNO76</p>			</div>
		</div>
	</div>
		<div class="m_item type-video landscape">
		<div class="m_item_image">
			<a href="/news/emily-okuda-overhoff-directs-chanel-connects-2" class="modal">
				<video class autoplay muted loop playsinline controlslist="nodownload disablePictureInPicture" poster="https://lkbkspro.s3.amazonaws.com/parent/lg_64b0393f-b3a8-4c82-9ad2-67b5ac110008.jpg" id="clip_64b0393f-b3a8-4c82-9ad2-67b5ac110008" filename alt=" - CHANEL CONNECTS" imgw="1920" imgh="1080" data-ratio="1.7777777777778" height="1080" width="1920" data-focus-x="-1" data-focus-y="-1"><source type="video/mp4" src="https://lkbkspro.s3.amazonaws.com/parent/lgclip_64b0393f-b3a8-4c82-9ad2-67b5ac110008.mp4"></video>			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/film/emily-okuda-overhoff">EMILY OKUDA-OVERHOFF</a> directs CHANEL CONNECTS</p>			</div>
		</div>
	</div>
		<div class="m_item type-video landscape">
		<div class="m_item_image">
			<a href="/news/julien-pujol-directs-filippa-k-ss24" class="modal">
				<video class autoplay muted loop playsinline controlslist="nodownload disablePictureInPicture" poster="https://lkbkspro.s3.amazonaws.com/parent/lg_649d63b3-aea0-4606-a32a-0f7eac110004.jpg" id="clip_649d63b3-aea0-4606-a32a-0f7eac110004" filename alt=" - FILIPPA K SS24" imgw="1920" imgh="1080" data-ratio="1.7777777777778" height="1080" width="1920" data-focus-x="-1" data-focus-y="-1"><source type="video/mp4" src="https://lkbkspro.s3.amazonaws.com/parent/lgclip_649d63b3-aea0-4606-a32a-0f7eac110004.mp4"></video>			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/film/julien-pujol">JULIEN PUJOL</a> directs FILIPPA K SS24</p>			</div>
		</div>
	</div>
		<div class="m_item type-video landscape">
		<div class="m_item_image">
			<a href="/news/eric-christison-choreographs-balenciaga" class="modal">
				<video class autoplay muted loop playsinline controlslist="nodownload disablePictureInPicture" poster="https://lkbkspro.s3.amazonaws.com/parent/lg_649ae07b-fb9c-4cc3-b918-6783ac110007.jpg" id="clip_649ae07b-fb9c-4cc3-b918-6783ac110007" filename alt=" - BALENCIAGA" imgw="1920" imgh="1080" data-ratio="1.7777777777778" height="1080" width="1920" data-focus-x="-1" data-focus-y="-1"><source type="video/mp4" src="https://lkbkspro.s3.amazonaws.com/parent/lgclip_649ae07b-fb9c-4cc3-b918-6783ac110007.mp4"></video>			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/choreography/eric-christison">ERIC CHRISTISON </a>choreographs BALENCIAGA</p>			</div>
		</div>
	</div>
		<div class="m_item portrait">
		<div class="m_item_image">
			<a href="/news/camille-summers-valli-shoots-public-editions" class="modal">
				<img src="images/lg_6426e9b9-0184-420e-a0e3-1a9dac110004.jpg">			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/film-photography/camille-summers-valli">CAMILLE SUMMERS-VALLI</a> shoots PUBLIC EDITIONS</p>			</div>
		</div>
	</div>
		<div class="m_item type-image landscape">
		<div class="m_item_image">
			<a href="/news/thomas-cristiani-shoots-public-editions" class="modal">
				<img src="images/lg_64391cc2-46a8-412e-aff4-2897ac110009.jpg">			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/photography/thomas-cristiani">THOMAS CRISTIANI</a> shoots PUBLIC EDITIONS</p>			</div>
		</div>
	</div>
		<div class="m_item type-video landscape">
		<div class="m_item_image">
			<a href="/news/eric-christison-choreographs-calvin-klein-pride-ft-amandla" class="modal">
				<video class autoplay muted loop playsinline controlslist="nodownload disablePictureInPicture" poster="https://lkbkspro.s3.amazonaws.com/parent/lg_646cf124-7df0-4c68-959f-1479ac110005.jpg" id="clip_646cf124-7df0-4c68-959f-1479ac110005" filename alt=" - CALVIN KLEIN ft. AMANDLA STENBERG" imgw="1920" imgh="1080" data-ratio="1.7777777777778" height="1080" width="1920" data-focus-x="-1" data-focus-y="-1"><source type="video/mp4" src="https://lkbkspro.s3.amazonaws.com/parent/lgclip_646cf124-7df0-4c68-959f-1479ac110005.mp4"></video>			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/choreography/eric-christison">ERIC CHRISTISON</a> choreographs CALVIN KLEIN 'PRIDE' ft. AMANDLA</p>			</div>
		</div>
	</div>
		<div class="m_item portrait">
		<div class="m_item_image">
			<a href="/news/thurstan-redding-shoots-gucci-beauty-1" class="modal">
				<img src="images/lg_643ec67d-c0f0-4fab-b9de-068eac110007.jpg">			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/photography/thurstan-redding">THURSTAN REDDING</a> shoots GUCCI BEAUTY</p>			</div>
		</div>
	</div>
		<div class="m_item type-video landscape">
		<div class="m_item_image">
			<a href="/news/eric-christison-choreographs-h-m-ss23" class="modal">
				<video class autoplay muted loop playsinline controlslist="nodownload disablePictureInPicture" poster="https://lkbkspro.s3.amazonaws.com/parent/lg_64777b47-9e3c-4230-bc55-4cdbac110004.jpg" id="clip_64777b47-9e3c-4230-bc55-4cdbac110004" filename alt=" - H&amp;M SS23" imgw="1920" imgh="1080" data-ratio="1.7777777777778" height="1080" width="1920" data-focus-x="-1" data-focus-y="-1"><source type="video/mp4" src="https://lkbkspro.s3.amazonaws.com/parent/lgclip_64777b47-9e3c-4230-bc55-4cdbac110004.mp4"></video>			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/choreography/eric-christison">ERIC CHRISTISON</a> choreographs H&M SS23</p>			</div>
		</div>
	</div>
		<div class="m_item type-video landscape">
		<div class="m_item_image">
			<a href="/news/camille-summers-valli-directs-mette-mamma-s-eyes" class="modal">
				<video class autoplay muted loop playsinline controlslist="nodownload disablePictureInPicture" poster="https://lkbkspro.s3.amazonaws.com/parent/lg_64528292-ca1c-432e-a746-6e35ac110005.jpg" id="clip_64528292-ca1c-432e-a746-6e35ac110005" filename alt=" - METTE 'MAMA'S EYES'" imgw="1620" imgh="1080" data-ratio="1.5" height="1080" width="1620" data-focus-x="-1" data-focus-y="-1"><source type="video/mp4" src="https://lkbkspro.s3.amazonaws.com/parent/lgclip_64528292-ca1c-432e-a746-6e35ac110005.mp4"></video>			</a>
			<div class="m_item_text">
				<p style="text-align: left;"><a href="https://www.parent.global/artists/film-photography/camille-summers-valli">CAMILLE SUMMERS-VALLI</a> directs METTE MAMMA'S EYES</p>			</div>
		</div>
	</div>
		<div class="m_item type-video landscape">
		<div class="m_item_image">
			<a href="/news/eric-christison-choreographs-alicia-keys-for-netflix" class="modal">
				<video class autoplay muted loop playsinline controlslist="nodownload disablePictureInPicture" poster="https://lkbkspro.s3.amazonaws.com/parent/lg_645d2463-45b8-458c-991c-1296ac110005.jpg" id="clip_645d2463-45b8-458c-991c-1296ac110005" filename alt=" - NETFLIX ft. ALICIA KEYS" imgw="1920" imgh="1080" data-ratio="1.7777777777778" height="1080" width="1920" data-focus-x="-1" data-focus-y="-1"><source type="video/mp4" src="https://lkbkspro.s3.amazonaws.com/parent/lgclip_645d2463-45b8-458c-991c-1296ac110005.mp4"></video>			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/choreography/eric-christison">ERIC CHRISTISON</a> choreographs ALICIA KEYS for NETFLIX</p>			</div>
		</div>
	</div>
		<div class="m_item type-video landscape">
		<div class="m_item_image">
			<a href="/news/indigo-lewin-and-eric-christison-co-direct-mm6-maison-margiela" class="modal">
				<video class autoplay muted loop playsinline controlslist="nodownload disablePictureInPicture" poster="https://lkbkspro.s3.amazonaws.com/parent/lg_645a2c18-dba4-48dd-b281-0831ac110008.jpg" id="clip_645a2c18-dba4-48dd-b281-0831ac110008" filename alt=" - MM6" imgw="1920" imgh="1080" data-ratio="1.7777777777778" height="1080" width="1920" data-focus-x="-1" data-focus-y="-1"><source type="video/mp4" src="https://lkbkspro.s3.amazonaws.com/parent/lgclip_645a2c18-dba4-48dd-b281-0831ac110008.mp4"></video>			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/photography/indigo-lewin">INDIGO LEWIN</a> and <a href="https://www.parent.global/artists/choreography/eric-christison">ERIC CHRISTISON</a> co-direct MM6 Maison Margiela</p>			</div>
		</div>
	</div>
		<div class="m_item portrait">
		<div class="m_item_image">
			<a href="/news/indigo-lewin-shoots-document-1" class="modal">
				<img src="images/lg_644bf3f4-8804-458b-889c-0946ac110005.jpg">			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/photography/indigo-lewin">INDIGO LEWIN </a>shoots DOCUMENT </p>			</div>
		</div>
	</div>
		<div class="m_item portrait">
		<div class="m_item_image">
			<a href="/news/money-art-directs-buffalo-zine" class="modal">
				<img src="images/lg_644a3921-25ec-4143-b56b-0c6eac11000c.jpg">			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/creative-direction/money">MONEY </a>art directs BUFFALO ZINE</p>			</div>
		</div>
	</div>
		<div class="m_item type-video landscape">
		<div class="m_item_image">
			<a href="/news/eric-christison-choreographs-louis-vuitton-ft-zendaya" class="modal">
				<video class autoplay muted loop playsinline controlslist="nodownload disablePictureInPicture" poster="https://lkbkspro.s3.amazonaws.com/parent/lg_64429b53-d1a0-4712-9130-1c3cac11000b.jpg" id="clip_64429b53-d1a0-4712-9130-1c3cac11000b" filename alt=" - LOUIS VUITTON" imgw="1920" imgh="1080" data-ratio="1.7777777777778" height="1080" width="1920" data-focus-x="-1" data-focus-y="-1"><source type="video/mp4" src="https://lkbkspro.s3.amazonaws.com/parent/lgclip_64429b53-d1a0-4712-9130-1c3cac11000b.mp4"></video>			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/choreography/eric-christison">ERIC CHRISTISON</a> choreographs LOUIS VUITTON ft. ZENDAYA </p>			</div>
		</div>
	</div>
		<div class="m_item type-image landscape">
		<div class="m_item_image">
			<a href="/news/thomas-cristiani-shoots-re-edition" class="modal">
				<img src="images/lg_64416ac6-94b8-492f-a6e9-33acac110010.jpg">			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/photography/thomas-cristiani">THOMAS CRISTIANI</a> shoots RE-EDITION</p>			</div>
		</div>
	</div>
		<div class="m_item portrait">
		<div class="m_item_image">
			<a href="/news/camille-summers-valli-shoots-colours" class="modal">
				<img src="images/lg_64368c66-c2ec-425b-8739-07eaac110006.jpg">			</a>
			<div class="m_item_text">
				<p><a href="https://www.parent.global/artists/film-photography/camille-summers-valli">CAMILLE SUMMERS-VALLI </a>shoots 'COLOURS'</p>			</div>
		</div>
	</div>
			</div>
					<div id="blog_loading">Loading More</div>
			<div id="offscreen_loading"></div>
				</div>
</section>

<div class="overlay-bg"></div>
<div id="slideshow_overlay" class="overlay">
	<div class="overlay-content">
		<div class="overlay-close">
			<span class="close">
				<span>Close</span>
			</span>
		</div>
		<div class="overlay-thumbs">
			<span class="grid-view">Grid view</span>
			<span class="single-view">Single view</span>
		</div>
		<div id="slideshow_content" class="slideshow-overlay slideshow_wrapper o_slideshow">
			<ul class="slides slideshow" id="o_slideshow"></ul>
			<div class="ss_prev"></div>
			<div class="ss_next"></div>
			<div id="slideshow_controls" class="slideshow-controls">
	<a href="/" class="artist_name">News</a>
	<span class="portfolio_name"></span>
	<span class="ss_pagination"><span class="ss_pag_current">1</span>/<span class="ss_pag_total">1</span></span>
	<span class="ss_description"></span>
</div>			<div id="o_thumbnails" class="thumbnails ss_thumbs">
				<ul></ul>
			</div>
		</div>
	</div>
</div>

<script id="slideshowTmpl" type="text/x-jsrender">
<li id="item-{{:id}}" rel="" class="slide assettype{{:asset_type_id}}" alt="{{:title}}" content="{{:content_id}}" data-video-width="{{:width}}" data-video-height="{{:height}}" data-video-ratio="{{:ratio}}">
	<div class="slideshow_image slide-content">
		{{if type=="video"}}
			<div class="slideshow_video" id="{{:id}}_o">
				<video controls  poster="https://assets.lookbookspro.com/parent/gxxl_{{:id}}.jpg" id="video_{{:id}}_o" fluid="true" preload="none" data-ratio="{{:ratio}}" data-width="{{:width}}" data-height="{{:height}}" class="video-js vjs-default-skin vjs-fluid vjs-big-play-centered" data-video-type="video">
										{{if width >= 1920}}
					<source type="video/mp4" src="https://assets.lookbookspro.com/parent/fullhd_{{:id}}.mp4" label="FullHD" res="1920" />
					{{/if}}
					{{if width >= 1280}}
					<source type="video/mp4" src="https://assets.lookbookspro.com/parent/hd_{{:id}}.mp4" label="HD" res="1280" />
					{{/if}}
					<source type="video/mp4" src="https://assets.lookbookspro.com/parent/video_{{:id}}.mp4" label="SD" res="720" />
				</video>
			</div>
		{{else}}
			<img src="/imgs/blank.gif" filename="{{:src}}" rel="{{:id}}" id="{{:id}}" type="{{:type}}" alt=" - " imgw="{{:width}}" imgh="{{:height}}">
		{{/if}}
	</div>
	<div class="slide_footer">{{:description}}</div>
</li>
</script>
<script id="thumbTmpl" type="text/x-jsrender">
<li id="thumb-{{:id}}" rel="" class="thumb assettype{{:asset_type_id}}" alt="{{:title}}">
	<div class="thumb-image">
		<img src="/imgs/blank.gif" filename="{{:src}}" />
	</div>
</li>
</script>
<div id="arrowleft">←</div>
<div id="arrowright">→</div>

<div id="arrowleft">←</div>
<div id="arrowright">→</div>
<div id="videoStatusPlay">Play</div>
<div id="videoStatusPause">Pause</div>
<div id="videoStatusLoading">Loading</div>
<script type="text/javascript">
var newsBaseLink = '/news',
	newsPage = 1,
	newsHasMore = true;
mcConf.preloadImageLimit = 20;
mcConf.scrollbar = false;

$(document).ready(setupHomepage);
</script>

</div>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-8DGV0CST64"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

					gtag('config', 'G-8DGV0CST64', {'name':'lookbooksTracker', 'anonymize_ip': true});
				</script>
	



</body></html>